.idea
GeoNames_Plus.iml


*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/src/main/resources/geonames_names
/src/main/resources/geonames_zhs_all
/src/main/resources/fclass_mappings
/target/
/src/main/resources/geonames_climate
/src/main/resources/geonames_china_climate_site
